@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: black;
    --cor-secundaria: #f6f6f6; 
    --cor-terciaria: #0169ca;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 3% 18%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 5% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem{
    border-radius: 5%;
    width:488px;
    height:550px;
}

.apresentacao__conteudo{
    display: flex;
    width: 615px;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-family: var(--fonte-primaria);
    font-size: 36px;
}

.apresentacao__conteudo__texto{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulos{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}


.apresentacao__links__link{
    display: flex;
    gap: 16px;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    width: 378px;
    border-radius: 8px;
    color: var(--cor-secundaria);
    padding: 21.5px 0;
    text-decoration: none;
    border: 2px solid var(--cor-terciaria);
}

.apresentacao__links__link:hover{
    background-color:var(--cor-hover);
}

.rodape{
    text-align: center;
    padding: 20px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 24px;
}

.about-title{
    font-family: var(--fonte-primaria);
    font-size: 36px;
    font-weight: 400;
}

.about-apresentacao__conteudo__texto{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    width: 574px;
}